<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
    	<section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
	</configSections>
	<connectionStrings>
		<add name="PIHMAA" providerName="System.Data.SqlClient" connectionString="Data Source=192.206.4.111,2499;Initial Catalog=PIHMAA_db;Integrated Security=False;User Id=PIHMAA_db;Password=#@!Q^78IK(#EDaq;MultipleActiveResultSets=True" />
		<!--<add name="PIHMAA" connectionString="Data Source=ODYSSEY21;Initial Catalog=PIHMAA_db;Integrated Security=True;MultipleActiveResultSets=True;"/>-->
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5">

			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />
		<pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<sessionState timeout="20"/>
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		
		<!--<customErrors mode="Off"/>-->
		  <customErrors mode="On" defaultRedirect="Error1.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="Error1.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>
	</system.web>
	<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="BD319B19EAF3B43A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="FacebookAppId" value="842873505857157" />
		<add key="FacebookAppSecret" value="579ec9adc04dcf13e1ce6b9e27edad7b" />
	</appSettings>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Pihmaa.org" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
	<!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>